<div >
    <div class="row">
        <div class="col-lg-12">
            <img class="spinner" src="/img/ajax-loader.gif" ng-show="loading"/>
        </div>
    </div>
    <div class="row" ng-init="init()">
        <div class="col-md-12">
            <div class="well well-sm">
                <h2>{{conference.name}}</h2>
                <h5>{{conference.description}}</h5>
                <div>
                    <label for="registered">Registered/Open: </label>
                    <span id="registered">{{conference.max_attendees - conference.seats_available}} / {{conference.max_attendees}}</span>
                </div>
                <div>
                    <label for="organizer">Organizer: </label>
                    <span id="organizer">{{conference.organizer_display_name}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form class="form well well-sm" novalidate role="form">
                <fieldset>
                    <div>
                        <label for="city">City: </label>
                        <span id="city">{{conference.city}}</span>
                    </div>
                    <div>
                        <label for="topics">Topics: </label>
                        <span id="topics">
                            <span ng-repeat="topic in conference.topics" class="label label-primary label-separated">{{topic}}</span>
                        </span>
                    </div>
                    <div>
                        <label for="start_date">Start Date: </label>
                        <span id="start_date">{{conference.start_date | date:'dd-MMMM-yyyy'}}</span>
                    </div>
                    <div>
                        <label for="end_date">End Date: </label>
                        <span id="end_date">{{conference.end_date | date:'dd-MMMM-yyyy'}}</span>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-2">
            <a class="btn btn-primary" ng-hide="isUserAttending" ng-click="registerForConference()"
            ng-disabled="loading"><i class="fa fa-bookmark-o"></i> Register</a>
            <a class="btn btn-primary" ng-show="isUserAttending" ng-click="unregisterFromConference()" ng-disabled="loading"><i class="fa fa-undo"></i> Unregister</a>
        </div>
        <div class="col-md-2">
            <a class="btn btn-primary"  href="#/conference/createsession/{{conference.web_safe_key}}"
            ng-disabled=" vm.isCreateAllowed()|| loading" ng-hide="!getSignedInState()"><i class="fa fa-plus"></i> Create Sessions</a>
            
        </div>
                <div class="col-md-2">
            <a class="btn btn-info"  href="#/conference/edit/{{conference.web_safe_key}}"
            ng-disabled=" vm.isCreateAllowed() || loading" ng-hide="!getSignedInState()"><i class="fa fa-pencil"></i> Edit Conference </a>
            
        </div>
        <div class="col-md-8">
            
        </div>
    </div>
    <hr />
    <div class="row" ng-if="Sessions">
        <h3>Sessions</h3>
        <conference-sessions sessions="Sessions" ></conference-sessions>
        
    </div>
</div>
</div>
</div>