<div ng-init="init()">
    <div class="row">
        <div class="col-lg-12">
            <img class="spinner" src="/img/ajax-loader.gif" ng-show="loading"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h3>Create a conference</h3>
            <form name="conferenceForm" novalidate role="form">
                <div class="form-group">
                    <label for="name">Name <span class="required">*</span></label>
                    <span class="label label-danger"
                    ng-show="conferenceForm.name.$error.required">Required!</span>
                    <input id="name" type="text" name="name" ng-model="conference.name" class="form-control"
                    ng-required="true"/>
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <select id="city" ng-model="conference.city" name="city" ng-options="city for city in cities"
                        class="form-control">
                    </select>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea id="description" type="text" name="description" ng-model="conference.description"
                    class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label for="topics">Topics</label>
                    <select id="topics" ng-model="conference.topics" name="topics"
                        ng-options="topic for topic in topics"
                        class="form-control" multiple>
                    </select>
                </div>
                <div class="form-group" ng-controller="DatepickerCtrl">
                    <label for="start_date">Start Date</label>
                    <span class="label label-danger"
                    ng-show="!isValidstart_date()">Start Date must be later or equal to today!</span>
                    <p class="input-group">
                        <input id="start_date" type="text" class="form-control" uib-datepicker-popup="{{format}}"
                        ng-model="conference.start_date" is-open="opened"
                        datepicker-options="dateOptions"
                        close-text="Close"/>
                        <span class="input-group-btn">
                            <button class="btn btn-primary" ng-click="open($event)"><i
                            class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                </div>
                <div class="form-group" ng-controller="DatepickerCtrl">
                    <label for="end_date">End Date</label>
                    <span class="label label-danger"
                    ng-show="!isValidDates()">End Date must be later or equal to Start Date!</span>
                    <p class="input-group">
                        <input id="end_date" type="text" class="form-control" uib-datepicker-popup="{{format}}"
                        ng-model="conference.end_date" is-open="opened"
                        datepicker-options="dateOptions"
                        close-text="Close"/>
                        <span class="input-group-btn">
                            <button class="btn btn-primary" ng-click="open($event)"><i
                            class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                </div>
                <div class="form-group">
                    <label for="max_attendees">Max Attendees</label>
                    <span class="label label-danger"
                    ng-show="!isValidmax_attendees()">Must be an integer!</span>
                    <!-- The input type is text as the conference.max_attendees will be undefined,
                    hence isValidmax_attendees will be true when input type is number -->
                    <input id="max_attendees" type="text" name="max_attendees" ng-model="conference.max_attendees"
                    class="form-control"/>
                </div>
                <button ng-click="vm.goBack()" class="btn btn-success"
                ng-disabled="loading "><i class="fa fa-caret-left"></i> Back
                </button>
                <button ng-if="isCreate" ng-click="createConference(conferenceForm)" class="btn btn-primary"
                ng-disabled="!isValidConference(conferenceForm) || loading">Create
                </button>
                <button ng-if="!isCreate" ng-click="updateConference(conferenceForm)" class="btn btn-primary"
                ng-disabled="!isValidConference(conferenceForm) || loading">Save
                </button>
                
            </form>
        </div>
    </div>
</div>