<div ng-controller="MyProfileCtrl" ng-init="init()">
    <div class="row">
        <div class="col-lg-12">
            <img class="spinner" src="/img/ajax-loader.gif" ng-show="loading"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h3>My Profile</h3>
            <form name="profileForm" novalidate role="form">
                <div class="form-group" ng-class="{'has-warning': profile.display_name != initialProfile.display_name}">
                    <label for="display_name">Display Name </label>
                    <span class="label label-warning"
                          ng-show="profile.display_name != initialProfile.display_name"> Changed</span>
                    <input id="display_name" type="text" name="display_name" ng-model="profile.display_name"
                           class="form-control"/>
                </div>

                <div class="form-group" ng-class="{'has-warning': profile.tee_shirt_size != initialProfile.tee_shirt_size}">
                    <label for="tee_shirt_size">Tee shirt size</label>
                    <span class="label label-warning"
                          ng-show="profile.tee_shirt_size != initialProfile.tee_shirt_size"> Changed</span>
                    <select id="tee_shirt_size" ng-model="profile.tee_shirt_size" name="tee_shirt_size" ng-options="
shirt.size as shirt.text for shirt in tee_shirt_sizes"
                            class="form-control">
                    </select>
                </div>

                <button ng-click="saveProfile(profileForm)" class="btn btn-primary"
                        ng-disabled="loading">Update profile
                </button>
            </form>
        </div>
    </div>
</div>