<div class="conf-sessions" >
    <div class"row">
        <div class="col-md-12">
            <div ng-if="sessions.length == 0">
                <h4>No matching results.</h4>
            </div>
        </div>
    </div>
    <div class="row" ng-show="sessions.length > 0">
        <div class="col-md-2">
            <label>Filter:</label>
        </div>
        <div class="col-md-10 pull-left">
            <input type="text" ng-model="filterText" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 200, 'blur': 0 } }"/>
        </div>
    </div>
    <div class="row " ng-show="sessions.length > 0">
        <table id="conference-table" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Session Details</th>
                    <th>Date</th>
                    <th>Time(24Hrs Format)</th>
                    <th ng-if="showConfName">Conference</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th ng-if="showAddRemove">WishList</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="session in sessions| filter:filterText">
                    <td ><collapsible-Item-Details item-type="SESSION" item="session"></collapsible-Item-Details></td>
                    <td >{{session.date}}</td>
                    <td >{{session.start_time}}</td>
                    <td  ng-if="showConfName" >{{session.confName}}</td>
                    <td >{{session.session_name}}</td>
                    <td >{{session.type_of_session}}</td>
                    <td ng-if="showAddRemove"><button type="button" class="btn btn-primary" ng-disabled="csCtrl.loading" ng-click="csCtrl.addSessionToWishlist(session)"><i class="fa fa-plus"></i>  </button> <button type="button" class="btn btn-danger" ng-disabled="csCtrl.loading" ng-click="csCtrl.deleteSessionInWishlist(session)"><i class="fa fa-minus"></i>  </button></td>
                </tr>
            </tbody>
        </table>
        
        
    </div>
</div>