<div class="conf-sessions" >
    <div class"row">
        <div class="col-md-12">
            <div ng-if="sessions.length == 0">
                <h4>No matching results.</h4>
            </div>
        </div>
    </div>
    <div class="row" ng-show="sessions.length > 0">
        <div class="col-md-2">
            <label>Filter:</label>
        </div>
        <div class="col-md-10 pull-left"><input type="text" ng-model="filterText" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 200, 'blur': 0 } }"/>
    </div>
</div>
<div class="row header-row" ng-show="sessions.length > 0">
    <div class="col-md-2" ng-if="showConfName">Conference</div>
    <div  ng-class="{'col-md-4':!showConfName,'col-md-2':showConfName}">Name</div>
    <div class="col-md-2" >Highlights</div>
    <div  class="col-md-3" >Date / Time Duration</div>
    <div class="col-md-1">Type</div>
    <div class="col-md-2">Venue</div>
</div>
<div class="row session-list" ng-repeat="session in sessions| filter:filterText">
    <div class="col-md-2" ng-if="showConfName" >{{session.confName}}</div>
    <div ng-class="{'col-md-4':!showConfName ,'col-md-2':showConfName}">{{session.session_name}}</div>
    <div class="col-md-2">{{session.highlights}}</div>
    <div class="col-md-3"><p>Date: {{session.date}}</p>
    <p>Time: {{session.start_time}}</p>
    <p>Duration: {{session.duration}}</p></div>
    <div class="col-md-1">{{session.type_of_session}}</div>
    <div class="col-md-2">{{session.venue}}</div>
</div>
</div>